<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <arg name="paused" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="gui" default="true"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="worlds/empty.world" />
    <arg name="paused" value="$(arg paused)" />
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="use_sim_time" value="true" />
    <arg name="headless" value="false" />
  </include>


    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find inverted_pendulum)/models/urdf/differential.xacro'" />
      
    <arg name="x" default="0"/>
    <arg name="y" default="0"/>
    <arg name="z" default="0.5"/>
    
    <node name="mybot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
          args="-urdf -param robot_description -model differential -x $(arg x) -y $(arg y) -z $(arg z)" />

<!-- Launch the robot_state_publisher to broadcast transforms to '/tf' --> 
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn='false' output="screen">
        <remap from="/joint_states" to="/differential/joint_states" />
    </node>

<!-- Load the joint controller configuration-->
    <rosparam file='$(find inverted_pendulum)/config/controller.yaml' command='load'/> 


<!-- Load the controllers --> 
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen"
      args="joint_state_controller differential_drive"/>

</launch>